body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.content {
  padding: 20px;
}

#text-container {
  margin-bottom: 80px; /* Ensure there's space for the buttons */
}

.button-tab {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: grey;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:disabled {
  cursor: not-allowed;
}

.button.enabled {
  background-color: green;
}
